export(aic.grid)
export(bic.grid)
export(contour_color_grid)
export(contour_grid)
export(contour_image_grid)
export(d.grid)
export(data.grid)
export(estimate.gridCopula)
export(image_color_grid)
export(mi.grid)
export(mosaic.grid)
export(normal.color.contour.grid)
export(normal.contour.grid)
export(perspective.grid)
export(p.grid)
export(r.grid)
export(rho.grid)
export(tau.grid)
import(Rsolnp)
import(fields)
importFrom(limSolve,lsei)
import(ggplot2)
import(pracma)
import(reshape2)
importFrom("grDevices", "cm.colors", "gray", "heat.colors", "rainbow",
               "terrain.colors", "topo.colors")
importFrom("graphics", "abline", "axis", "contour", "filled.contour",
               "image", "mtext", "persp")
importFrom("stats", "dnorm", "pnorm", "runif")